[run]
branch = True
source = thingsvision
omit = 
	*/__init__.py
	*/usr/local/lib*
	./thingsvision/tests/*
	./thingsvision/clip.py

[report]
omit =
	*/__init__.py
	*/usr/local/lib*
	./thingsvision/tests/*
	./thingsvision/clip.py
	./thingsvision/dataset.py
