ftfy
h5py
keras-cv-attention-models>=1.3.5
matplotlib
numba
numpy<2
open_clip_torch==3.*
pandas
regex
safetensors<0.6
scikit-image
scikit-learn
scipy
tensorflow<2.16
timm
torch>=2.0.0
torchvision==0.15.2
torchtyping
tqdm
pytest
git+https://github.com/openai/CLIP.git
dreamsim==0.1.3
vit-keras==0.1.2
git+https://github.com/serre-lab/Harmonization.git
transformers==4.40.1
